In [2]:
<div class="card-deck box-home">
            <div class="card">
                <div class="x_title">
                    <h3>Trạng thái phòng</h3>
                </div>
                <div class="x_content_table">
                    <div class="row status-room">
                        {% for room in all_room %}
                            {% if room.status %}
                                <div class="col-3 ele-room empty">
                                    {{ room.room_number}}
                                </div>
                            {% else %}
                                <div class="col-3 ele-room available">
                                    {{ room.room_number}}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="x_title">
                    <h3>Danh sách khách nợ tiền phòng</h3>
                </div>

                <div class="x_content_table_debt">
                    <div class="table_debt">
                        <table>

                            <thead>
                                <tr class="header-table">
                                    <th>Phòng</th>
                                    <th>Khách</th>
                                    <th>Tháng</th>
                                    <th>Số tiền (VND)</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Nguyễn Hồng Quân</td>
                                    <td>Tháng 4</td>
                                    <td>2.500.000</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Võ Tiến Dũng</td>
                                    <td>Tháng 12</td>
                                    <td>1.000.000</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Huỳnh Tấn Phát</td>
                                    <td>Tháng 11</td>
                                    <td>1.500.000</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Hoàng Oanh</td>
                                    <td>Tháng 5</td>
                                    <td>500.000</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Trần Văn Nhân</td>
                                    <td>Tháng 1</td>
                                    <td>400.000</td>
                                </tr>
                               
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 80)

In [7]:
x

{'0': 0, '1': 1, '2': 2, '3': 3, '4': 4}